<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Students CRUD</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="container-list" ng-controller='myController'>
      <input type="text" ng-model="name" class="search">
      <div class="container-table">
        <table cellspacing="0" cellpadding="0">
          <tr class="first-row">
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat = "student in students | filter: name">
            <td>{{ student.name }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.age }}</td>
            <td><button class="edit" ng-click="updateStudent(student)">EDIT</button></td>
            <td><button ng-click="deleteStudent(student)" class="remove">DELETE</button></td>
          </tr>
        </table>
        {{ student.name }}
      </div>
      <div id="js-update" class="invisible">
        <input type="text"><br>
        <input type="text"><br>
        <input type="number"><br>
        <button ng-click="submitEdit(x)">CONFIRM</button>
      </div>
      <button ng-click="addStudent()">Add Student</button>
      <div id="js-form" class="invisible" ng-repeat= "x in studentsToAdd">
        <input type="text" ng-model="x.name"><br>
        <input type="text" ng-model="x.lastname"><br>
        <input type="number" ng-model="x.age"><br>
        <button ng-click="submitNewStudent(x)">Submit</button>
      </div>
    </div>
  </div>
</body>
</html>