body {
  font-family: 'Oswald', sans-serif;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit {
  background-color: $green;
}
.remove {
  background-color: $red;
}
button {
  border: none;
  border-radius: 5%;
}